parameters:
    level: 7
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/App/storage/*
    ignoreErrors:
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::children().#'
            path: src/DependencyInjection/Configuration.php
    tipsOfTheDay: false
